.ui-dialog {
  border-radius: 4px;
}
.ui-dialog .ui-dialog-buttonpane button {
  margin: 0 0.5em 0 0.5em;
  cursor: pointer;
  background-color: #171920;
  padding: 0.5em 1em;
  outline: none;
  border: 1px solid #cccccc;
  border-radius: 3px;
}

.ui-dialog .ui-dialog-content {
  background: none repeat scroll 0 0 transparent;
  border: 0 none;
  overflow: inherit!important;
  position: relative;
  padding: 0.5em;
}